/Pixel Demo/nbproject/private/
/Pixel Demo/build/
/Bitmap Demo/nbproject/private/
/Bitmap Demo/build/
/OpenCV Test/nbproject/private/
/OpenCV Test/build/
/Webcam Application/nbproject/private/
/Webcam Application/build/
/Webcam Application/dist/
/OpenCV Test/dist/
/FloodFill Demo/nbproject/private/
/FloodFill Demo/build/